<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ticket html</title>
</head>


<body>
    <div style=" float:left; width:950px; background:#fff; border:1px solid #000">

        <ul style="list-style:none">
            <li>
                <span style="font-size:30px; color:#000; font-family:Arial, Helvetica, sans-serif; text-align:center;">
                    Thank You For Contacting Us,  We Will Contact You Soon.
                </span>
            </li>
            <br />

        </ul>
        <ul style="list-style:none">
            <li> <strong style="font-size:24px;  color:#da1d23; font-weight:500; margin-top:0px; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ccc;">PARM GREWAL</strong></li>
        </ul>

        <ul style="list-style:none;  font-family:Arial, Helvetica, sans-serif;line-height:35px; margin-top:20px; font-size:18px; color:#000;">
            <li>Phone No.: 416-805-4941</li>
            <li>E-mail: parmgrewal@outlook.com</li>
        </ul>
        <ul style="list-style:none">
            <li>
                <strong style="font-size:24px; font-family:Arial, Helvetica, sans-serif; width:100%;  color:#da1d23; font-weight:500;  text-align:center">
                    ALL AWARDS
                </strong>
            </li>
        </ul>

        <ul style="list-style:none;  font-family:Arial, Helvetica, sans-serif; margin-top:10px; font-size:18px;  line-height:40px; color:#000;">
            <li>Gold Club Member 2011</li>
            <li>Platinum Club Member 2012</li>
            <li>Award Of Excellence 2012</li>
            <li>Top Producer 2012</li>
            <li>Top Producer 2013</li>
            <li>Gold Club Member 2014</li>
        </ul>
        <ul style="list-style:none">
            <li><span style="font-size:16px; font-family:Arial, Helvetica,  sans-serif; border-bottom:1px solid #ccc; margin-top:10px; color:#000">Brokerage</span></li>
            <br />
            <li>
                <strong style="font-size:20px;  color:#da1d23; font-weight:500; width:100%;  font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ccc; ">
                    Royal LePage Flower City Inc.
                </strong>
            </li>
        </ul>
    </div>
</body>
</html>
